layout {
    default_tab_template {
        children
        pane size=2 borderless=false {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}"
                format_center "#[]{tabs}"
                format_right  "#[fg=#89b4fa] {session} {command_git_branch} {datetime}"
                format_space  "#[]"

                border_enabled "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                mode_normal        "#[fg=#89b4fa] "
                mode_locked        "#[fg=#e78284] "
                mode_resize        "#[fg=#ef9f76] "
                mode_pane          "#[fg=#ca9ee6] "
                mode_tab           "#[fg=#f2d5cf] "
                mode_scroll        "#[fg=#81c8be] scroll"
                mode_enter_search  "#[fg=#a6d189] ent-search"
                mode_search        "#[fg=#e5c890] SEARCH"
                mode_rename_tab    "#[fg=#babbf1] rename-tab"
                mode_rename_pane   "#[fg=#99d1db] rename-pane"
                mode_session       "#[fg=#f4b8e4] session"
                mode_move          "#[fg=#d20f39] move"
                mode_prompt        "#[fg=#209fb5] prompt"
                mode_tmux          "#[fg=#8839ef] "

                tab_normal              "#[fg=#6C7086]{index}.{name}{floating_indicator}"
                tab_active              "#[fg=#89b4fa]{index}.{name}{fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_floating_indicator   "󰉈 "
                tab_fullscreen_indicator " 󰊓 "
                tab_separator           "#[fg=#6C7086] ⋮ "
                tab_sync_indicator       "  "

                datetime        "#[bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/London"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
    }
}
