[Unit]
Description=Alert in case of low remaining battery

[Service]
Type=oneshot
ExecStart=/home/siavash/.local/bin/services/alertbattery

[Install]
WantedBy=graphical.target
