# Local/private config goes in the include
[include]
    path = ~/.gitaliases

[user]
    name = Siavash Katebzadeh
    email = mr.katebzadeh@gmail.com

[core]
    editor = vim
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[diff]
    tool = meld

[difftool]
    prompt = false

[gui]
    # Remove `git gui` pop-up warning
    gcwarning = false

[help]
    autocorrect = 1

[merge]
    tool = meld

[mergetool]
    keepBackup = false

[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[pull]
    rebase = true

[push]
    default = simple

[rebase]
    autoStash = true
