wine-extension-chm.desktop
wine-extension-gif.desktop
wine-extension-hlp.desktop
wine-extension-htm.desktop
wine-extension-ini.desktop
wine-extension-jfif.desktop
wine-extension-jpe.desktop
wine-extension-msp.desktop
wine-extension-pdf.desktop
wine-extension-png.desktop
wine-extension-psd.desktop
wine-extension-rtf.desktop
wine-extension-txt.desktop
wine-extension-url.desktop
wine-extension-vbs.desktop
wine-extension-wri.desktop
wine-extension-xml.desktop
wine-extension-xsl.desktop
photoshop.desktop
mimeinfo.cache
