* {
  /* font-family: Meslo LG L DZ for Powerline; */
  /* font-family: Liga SFMono Nerd Font; */
  font-family: SF Pro Display;
  font-size: 15;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0);
}

window#waybar {
  background-color: #1e1e2e;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 20px;
  border: 2px solid #494d64;
}

tooltip {
  border-color: #1e1e2e;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  background-color: #11111b;
  transition: 0.3s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  font-weight: bold;
  border-radius: 10px;
}

#workspaces button {
  padding: 2px 20px 2px 10px;
  margin: 5px 2px ;
  background-color: #3c3e4f;
  color: #a9a9a9;
  border: 2px solid #494d64;
  border-radius: 12px;
}

#workspaces button:hover {
  color: #3c3e4f;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* #mode { */
/*   background-color: #64727d; */
/*   border-bottom: 3px solid #ffffff; */
/* } */

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* color: #64727d; */
}

#clock,
#battery,
#brightness,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#language,
#custom-media,
#tray,
#bluetooth
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #ffffff;
  opacity: 0.8;
  background: transparent;
}

#window,
#workspaces {
  margin: 0 14px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  margin-right: 3px;
  color: #ffffff;
}

#clock:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: None;
}

#battery.charging,
#battery.plugged {
  color: #ffaaaa;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #abb2bf;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  /* background-color: #90b1b1; */
  color: #d7ba7d;
}

#network {
  padding: 2.5px;
  color: #ffffff;
}

#bluetooth.connected {
  color: #8aadf4;
}

#bluetooth.disble {
  color: #494d64;
}

#network:hover {
}

#custom-launcher {
  color: #a6da95;
  margin-left: 20px;
}

#custom-launcher:hover {
  font-weight: bolder;
}

#network.disconnected {
  color: #ffaaaa;
}

#pulseaudio {
  color: #ffffff;
}

#pulseaudio:hover {
}

#pulseaudio.muted {
  color: #ed8796;
}

#pulseaudio-slider slider {
    min-height: 10px;
    min-width: 10px;
    opacity: 1;
    /* background-image: none; */
    border: 1px solid black;
    border-radius: 10px;
    /* box-shadow: none; */
}
#pulseaudio-slider trough {
    /* min-height: 80px; */
    min-width: 100px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 100px;
    border-radius: 5px;
    background-color: #8aadf4;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: #abb2bf;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
#hardware {
  padding: 2px 10px 2px 10px;
  margin: 5px;
  background-color: #3c3e4f;
  color: #a9a9a9;
  border: 2px solid #494d64;
  border-radius: 12px;
}
