straight/
projects
el-get/
bookmarks
*~
ac-comphist.dat
.auto-saves/
autosaves/
.backups/
emojis/
irony/
ivy-youtube-history
projectile-bookmarks.eld
recentf
request/
url/
var/
transient/
.eshell/
.xkcd/
.local/
emms/
.emms/
.cache/
projectile.cache
tramp
org-gcal/
*.elc
.org-id-locations
history
.extension
eln-cache/
quelpa
.dap-breakpoints
